#appTopNav {
    /* https://cloudscape.design/components/top-navigation/?tabId=api */
    position: sticky;
    top: 0;
    z-index: 1999;
}

.awsui_padding-box_k5dlb_1xy7l_124 {
    background-color: #489aad;
}

.awsui_scrolling-background_hyvsj_1tx15_96 {
    background-color: #489aad;
}